{% extends "_base.html" %}

{% load base64 %}

{% block title %} - {{ group }} vote{% endblock %}

{% block content %}
  <div class="container">
    <div class="flag-container row">
      <div class="col-sm">
        <form action="/{{ group }}/choice/" method="POST">
          {% csrf_token %}
          <input type="hidden" name="choice" value="{{ vote.choice_1_id }}">
          <input type="image" name="submit" src="data:image/svg+xml;base64,{{ vote.choice_1.svg|base64 }}" class="flag vote">
        </form>
      </div>
      <div class="col-sm">
        <form action="/{{ group }}/choice/" method="POST">
          {% csrf_token %}
          <input type="hidden" name="choice" value="{{ vote.choice_2_id }}">
          <input type="image" name="submit" src="data:image/svg+xml;base64,{{ vote.choice_2.svg|base64 }}" class="flag vote">
        </form>
      </div>
    </div>
    <div class="text-center">
      <h2>The ultimate flag preference voting system</h2>
      <p class="lead">Choose one of the above flags, repeat until bored.</p>
    </div>
    {% if previous %}
      <hr>
      <div class="text-center">
        <h2>Previous vote</h2>
      </div>
      <div class="flag-container row">
        <div class="col">
          <div class="text-center">
            {{ previous.choice_1_name }}
            {% if previous.choice_1_change >= 0 %}
              <span class="text-success text-nowrap">+{{ previous.choice_1_change|floatformat:2 }}</span>
            {% else %}
              <span class="text-danger text-nowrap">{{ previous.choice_1_change|floatformat:2 }}</span>
            {% endif %}
            <div class=" h-25 w-25 mx-auto">
              <img src="data:image/svg+xml;base64,{{ previous.choice_1_svg|base64 }}" class="vote flag">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="text-center">
            {{ previous.choice_2_name }}
            {% if previous.choice_2_change >= 0 %}
              <span class="text-success text-nowrap">+{{ previous.choice_2_change|floatformat:2 }}</span>
            {% else %}
              <span class="text-danger text-nowrap">{{ previous.choice_2_change|floatformat:2 }}</span>
            {% endif %}
            <div class=" h-25 w-25 mx-auto">
              <img src="data:image/svg+xml;base64,{{ previous.choice_2_svg|base64 }}" class="vote flag">
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block head %}
<style>
.flag-container { align-items: center; gap: 20px; }
.flag { box-shadow: 2px 2px 12px #928374;  margin-top: 20px; margin-bottom: 20px; }
.vote {
  width: 100% !important;
  height: auto !important;
  viewbox: auto !important;
}
</style>
{% endblock %}
