{% extends "_base.html" %}

{% block head %}
<style>
.flag-small { height: 7em; box-shadow: 2px 2px 12px #928374; };
</style>
{% endblock %}

{% block content %}
  <div class="container text-center">
    <div class="py-5">
      <h2>Stats</h2>
      <p class="lead">
        The flags are ranked as if this were a skill based 1v1 competition, using
        the TrueSkill™ rating algorithm.
      </p>
    </div>

    <hr>

    <h1>Countries</h1>
    <div class="row">
      <div class="col-sm">
        <h3>Highest rated flags</h3>
        {% for flag in most_popular_country_flags %}
          <h4>{{flag.name}}</h4>
          <img src="{% url 'flag' flag.id %}" class="flag-small">
        {% endfor %}
      </div>

      <div class="col-sm">
        <h3>Lowest rated 5 flags</h3>
        {% for flag in least_popular_country_flags %}
          <h4>{{flag.name}}</h4>
          <img src="{% url 'flag' flag.id %}" class="flag-small">
        {% endfor %}
      </div>
    </div>

    <hr>

    <h1>
      States
      <br>
      <small class="text-muted">or provinces or territories or whatever</small>
    </h1>
    <div class="row">
      <div class="col-sm">
        <h3>Highest rated flags</h3>
        {% for flag in most_popular_state_flags %}
          <h4>{{flag.name}}</h4>
          <img src="{% url 'flag' flag.id %}" class="flag-small">
        {% endfor %}
      </div>

      <div class="col-sm">
        <h3>Lowest rated 5 flags</h3>
        {% for flag in least_popular_state_flags %}
          <h4>{{flag.name}}</h4>
          <img src="{% url 'flag' flag.id %}" class="flag-small">
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block title %} - stats{% endblock %}
