{% extends "_base.html" %}

{% load base64 %}

{% block title %} - Stats{% endblock %}

{% block head %}
<style>
.flag-small { height: 7em; box-shadow: 2px 2px 12px #928374; };
</style>
{% endblock %}

{% block content %}
  <div class="container text-center">
    <div class="py-5">
      <h2>Stats</h2>
      <p class="lead">
        The flags are ranked as if this were a skill based 1v1 competition, using
        the TrueSkill™ rating algorithm.
      </p>
    </div>

    <hr>

    <h1>Countries</h1>
    <div class="row">
      <div class="col-sm">
        <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="2">Top 5</th>
          </tr>
        </thead>
        {% for flag in most_popular_country_flags %}
        <tr>
        <td class="align-middle">
          {{ flag.name }}
        </td>
        <td>
          <img src="data:image/svg+xml;base64,{{ flag.svg|base64 }}" class="flag-small">
        </td>
        </tr>
        {% endfor %}
        </table>
      </div>
      <div class="col-sm">
        <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="2">Bottom 5</th>
          </tr>
        </thead>
        {% for flag in least_popular_country_flags %}
        <tr>
        <td class="align-middle">
          {{ flag.name }}
        </td>
        <td>
          <img src="data:image/svg+xml;base64,{{ flag.svg|base64 }}" class="flag-small">
        </td>
        </tr>
        {% endfor %}
        </table>
      </div>
    </div>

    <hr>

    <h1>
      States
    </h1>
    <h5>
      <small class="text-muted">or provinces or territories or whatever</small>
    </h5>
    <div class="row">
      <div class="col-sm">
        <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="2">Top 5</th>
          </tr>
        </thead>
        {% for flag in most_popular_state_flags %}
        <tr>
        <td class="align-middle">
          {{ flag.name }}
        </td>
        <td>
          <img src="data:image/svg+xml;base64,{{ flag.svg|base64 }}" class="flag-small">
        </td>
        </tr>
        {% endfor %}
        </table>
      </div>
      <div class="col-sm">
        <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="2">Bottom 5</th>
          </tr>
        </thead>
        {% for flag in least_popular_state_flags %}
        <tr>
        <td class="align-middle">
          {{ flag.name }}
        </td>
        <td>
          <img src="data:image/svg+xml;base64,{{ flag.svg|base64 }}" class="flag-small">
        </td>
        </tr>
        {% endfor %}
        </table>
      </div>
    </div>
    <div class="">
      Or maybe you want to see <a href="{% url 'full-stats' %}">even more stats</a>.
    </div>
  </div>
{% endblock %}
